@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');

body {
    background-color: #f2f2f2;
    font-family: "Newsreader", serif;

    .search-form {
        height: 50px;
        box-sizing: border-box;
        margin: 60px auto 0 auto;
        width: 80%;

        @media (max-width: 886px) {
            width: 100%;
        }

        input {
            border-radius: 5px;
            height: 80%;
            border: solid 1px #ababab;
            width: 40%;
            outline: none;
        }

        button {
            border-radius: 5px;
            height: 87%;
            border: solid 1px #ababab;
            width: 100px;
            outline: none;
            color: #fff;
            font-weight: 600;
            cursor: pointer;
            background-color: #007bff;
        }
    }
}

.news-main-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 886px) {
        width: 100%;
    }

    .news-article-container {
        gap: 5px;
        padding: 7px;
        width: 24%;
        display: flex;
        height: 400px;
        overflow-y: auto;
        border-radius: 5px;
        text-decoration: none;
        flex-direction: column;
        box-sizing: border-box;
        align-items: flex-start;
        background-color: #fff;
        border: solid 1px #00000048;

        @media (max-width: 886px) {
            width: 100%;
        }

        img {
            border-radius: 5px;
            width: 100%;
            height: 40%;
            object-fit: cover;
        }

        h2 {
            letter-spacing: -.6px;
            font-size: 1.2rem;
            color: #393939;
            font-weight: 500;

            @media (max-width: 600px) {
                font-size: .9rem;
            }
        }

    }

}


.pagination-links {
    display: flex;
    margin-top: 30px;
    width: 100%;
    align-items: center;
    justify-content: center;

    ul {
        width: 100%;
        display: flex;
        list-style: none;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
        gap: 5px;

        .active {
            background-color: #004896;
        }

        li {
            width: 40px;
            height: 40px;
            display: flex;
            border-radius: 5px;
            align-items: center;
            justify-content: center;
            background-color: #007bff;
            transition: background-color 0.3s ease;


            @media (max-width: 375px) {
                width: 30px;
                height: 30px;
            }

            a {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
                text-decoration: none;
                font-size: 1.1rem;
                color: white;
                font-weight: 400;
            }
        }
    }

}